/*variables*/
:root{
	--baseColor: #7190C4;
	--metallicEffect: linear-gradient(to bottom, #bababa 0%, #bababa 5%, #fff 6%, #fff 20%, #f0f0fa 24%, #939399 70%, #adadb5 88%, #6b6c78 100%);
	--sideMetal: linear-gradient(to right, #b2b2b2, #f9f9f9, #dbdce4, #cfd0d9, #c8c8d1, #f0f0f4, #fefeff, #c2c2c9, #7c7c80);

	--visualizerBars: #00f900;
	--visualizerPeaks: #e6e9e8;
}

/*set the application frame to be invisible by default*/
app.wmp{
	visibility: visible;


	left:calc(50% - 320px);
	top:calc(50% - 240px);


}
app.wmp appcontents{
	width:640px;
	height: 500px;

	min-width: 440px;
	min-height: 247px;
}
app.wmp #wmp9brand{
	display: none;
}
app.wmp appnavigation{
	z-index: 1;
	position: relative;
}
app.wmp appcontentholder{
	height: 100%;
	display: grid;
	grid-template-rows: min-content auto;
	overflow: hidden;
	background: linear-gradient(to bottom, #afafc1, #e1e1ea);
	box-shadow: inset 0 25px 0px #f2f2fdee, inset 2px 0 #81828fee, inset 0 -2px #81828faa, inset -2px 0 #848591;
}
app.wmp appcontentholder:after{
	background: url("../res/ui/wmp/xplogo_big.png");
	background-size: contain;
	width: 57px;
	height: 49px;
	content: " ";
	position: absolute;
	bottom: 12px;
	left: 20px;
	filter: drop-shadow(0 -1px 1px #636062) drop-shadow(1px 0 1px #afafbf);
}

app.wmp.collapsed{
	min-width: 368px;
}
app.wmp.collapsed hideable{
	display: none;
}

app.wmp.framehidden, app.wmp.miniplayer{
	visibility: hidden;
}
app.wmp.maximized.framehidden{
	visibility: visible;
}
app.wmp wmpmainframe{
	visibility: visible;
	width: inherit;
	height: calc(100% - 3px);
	display: block;
	position: relative;
	left: 0;
	top:4px;
	filter: drop-shadow(0 -2px #8d8daacf) drop-shadow(0px -6px 7px #dedeeec2) drop-shadow(-1px 2px #c9c9e373) drop-shadow(-22px 20px 40px #5b5b84);
}
app.wmp.framehidden wmpmainframe{
	filter: none;
}
app.wmp.collapsed wmpmainframe{
	left:-80px;
	width: calc(100% + 80px);
}
app.wmp wmpmainframe wmpcolorifier{
	width: 100%;
	height: 100%;
	display: block;
	filter:none !important;
}
app.wmp wmpmainframe wmpcolorifier *{
	position: absolute;
}
app.wmp wmpmainframe #brand{
	display: none;
}
app.wmp wmpmainframe fnbutton {
	image-rendering: pixelated;
}

/*the custom shaped stuff
  feast your eyes on this bullshit*/
app.wmp .wmpshapeholder{
	position: unset;
}
app.wmp .wmpshape{
	display: block;
	background: #7190C4;
}
app.wmp .shapeshader#topleft{
	width: 91px;
	height: 27px;
	display: inline-block;
	filter: drop-shadow(0 -2px 0px #7998d4) drop-shadow(0 -1px 0px #7fa3df) drop-shadow(0 -1px 0px #87aaea) drop-shadow(0 -1px 0px #95bafd) drop-shadow(0 -3px 0px #9ac2ff);
	margin-top: 8px;
	z-index: 1;
}
/*top left of navpane*/
app.wmp .shapeshader#topleft .wmpshape{
	clip-path: path("M91,0C77,0,66,24,24,24H6a6.45,6.45,0,0,0-6,6H91Z");
	width: 91px;
	height: 27px;
	top: 15px;
}

app.wmp .wmpshapeholder#topleft .wmpshape{
	clip-path: path("M91,0C77,0,66,24,24,24H6a6.45,6.45,0,0,0-6,6H91Z");
	width: 91px;
	height: 30px;

	top: 15px;
}

/*top right - playlist menu holder*/
app.wmp .shapeshader#topright{
	width: 231px;
	height: 37px;
	right: 0;
	top: 0;
	display: inline-block;
	filter: drop-shadow(0 -1px #7c9eda) drop-shadow(0 -1px #85a9e9) drop-shadow(0px -1px #90b6f9) drop-shadow(0px -4px #9ac2ff);
	z-index: 1;
}
app.wmp .shapeshader#topright .wmpshape{
	clip-path: path("M28,0C20,0,8,15,8,15H0V37H231V7a6.84,6.84,0,0,0-7-7Z");
	width: 231px;
	height: 37px;
	right: 0;
	top: 0;
	background: linear-gradient(to left, var(--baseColor) 0%, var(--baseColor) 1%, transparent 5%, transparent 100%), linear-gradient(to bottom, #7190c7, #464f8f);
	margin-top: 7px;
}
app.wmp .wmpshapeholder#topright .wmpshape{
	/*clip-path: path("M0,15S12,0,20,0V15Z");*/
	clip-path: path("M28,0C20,0,8,15,8,15H0V37H231V7a6.84,6.84,0,0,0-7-7Z");
	width: 231px;
	height: 37px;
	right: 0;
	top: 0;
	box-shadow: inset 0 4px 2px #9ac2ff, inset -1px 0 var(--baseColor), inset -2px 0 1px #7a9eeb;
	background: linear-gradient(to left, var(--baseColor) 0%, var(--baseColor) 1%, transparent 5%, transparent 100%), linear-gradient(to bottom, #7190c7, #5969a8);
}

/*bottom of navpane*/
app.wmp .shapeshader#bottomleft{
	width: 88px;
	height: 56px;
	bottom: 64px;
	display: inline-block;
	filter: drop-shadow(0 1px #6883b6) drop-shadow(0 1px #607bab) drop-shadow(0 1px #5b74a2) drop-shadow(0 1px #607bab) drop-shadow(0 1px #607bab88);
	margin-bottom: 6px;
	z-index: 1;
}
app.wmp .shapeshader#bottomleft .wmpshape{
	clip-path: path("M79,.21V27.84C63,14.65,45.85,7,17,7H7A6.84,6.84,0,0,1,0,0Z");
	width: 79px;
	height: 28px;
	bottom: 0;
	background: linear-gradient(to right, #6770c7 0%, #606bbb 10%, #5c67b1 11%, #6f8cc2 50%);
}

app.wmp .wmpshapeholder#bottomleft .wmpshape{
	clip-path: path("M79,.21V27.84C63,14.65,45.85,7,17,7H7A6.84,6.84,0,0,1,0,0Z");
	width:79px;
	height: 28px;
	bottom: 64px;
	left: 0;
}

/*controls module - left geometry*/
app.wmp .shapeshader#ctrlleft{
	width: 69px;
	height: 91px;
	bottom: 0px;
	left: 79px; /*maybe width 70, bototm , left 78*/
	display: inline-block;
	filter: drop-shadow(0 3px 0 #516594aa) drop-shadow(2px 1px 0px #747ed3) drop-shadow(2px 2px 0px #9ac1ff33);
	margin-bottom: 6px;
	z-index: 1;
}
app.wmp .shapeshader#ctrlleft .wmpshape{
	clip-path: path("M69,.18V90.76c-15-5-31.8-26.77-45-40C18.73,45.32,13.83,40.25,9,35.66c-3-2.86-6-5.54-9-8V0L9,0Z");
	width: 69px;
	height: 91px;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 50%, #5965aa), var(--baseColor);

	/*bottom: 56px;*/
}
app.wmp .wmpshapeholder#ctrlleft .wmpshape{
	/*clip-path: path("M0,0A6.84,6.84,0,0,0,7,7H17c43,0,60,17,86,44,15,15,34.69,41.13,51,41H327c4,0,17-5,23-14,0,0,13-16,28-16V1Z");*/
	clip-path: path("M69,.18V90.76c-15-5-31.8-26.77-45-40C18.73,45.32,13.83,40.25,9,35.66c-3-2.86-6-5.54-9-8V0L9,0Z");
	width: 69px;
	height: 91px;
	bottom: 1px;
	left: 79px;

	/*box-shadow: inset 0 -1px #6977c4, inset 0 -3px 3px #485295;*/
	background: linear-gradient(to bottom, transparent 50%, #5965aa), linear-gradient(45deg, #99c1ff 0%, #99c1ff 35%, #6d8abe 3%, transparent 39%, transparent 1000%), var(--baseColor);
}
app.wmp wmpmainframe.collapsed .shapeshader#ctrlleft .wmpshape,
app.wmp wmpmainframe.collapsed .wmpshapeholder#ctrlleft .wmpshape,
app.wmp.miniplayer wmpmainframe .shapeshader#ctrlleft .wmpshape,
app.wmp.miniplayer wmpmainframe .wmpshapeholder#ctrlleft .wmpshape{
	clip-path: path("M69,.18V90.76c-15-5-31.8-26.77-45-40C18.73,45.32,13.83,40.25,9,35.66,7,33.77,5,32,3.06,30.23A8.94,8.94,0,0,1,0,23.48V0L9,0Z");
}

/*controls module - center geometry*/
app.wmp .shapeshader#ctrlmid{
	width: 181px; /*maybe width 182, left 147*/
	height: 92px;
	bottom: 0;
	left: 148px;
	display: inline-block;
	/*filter: drop-shadow(0 2px #7280c19e) drop-shadow(0 2px 0 #4c56a2);*/
	filter: drop-shadow(0 2px #7280c19e) drop-shadow(0 2px 0 #45509f);
	margin-bottom: 5px;
	z-index: 1;
}
app.wmp .shapeshader#ctrlmid .wmpshape{
	clip-path: path("M181,.48V91.36a10.81,10.81,0,0,1-2,.25H6a18.38,18.38,0,0,1-6-1V0Z");
	width: 181px;
	height: 92px;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 50%, #5965aa), var(--baseColor);

	/*bottom: 56px;*/
}
app.wmp .wmpshapeholder#ctrlmid .wmpshape{
	/*clip-path: path("M0,0A6.84,6.84,0,0,0,7,7H17c43,0,60,17,86,44,15,15,34.69,41.13,51,41H327c4,0,17-5,23-14,0,0,13-16,28-16V1Z");*/
	clip-path: path("M181,.48V91.36a10.81,10.81,0,0,1-2,.25H6a18.38,18.38,0,0,1-6-1V0Z");
	width: 183px;
	height: 92px;
	bottom: 0;
	left: 148px;

	box-shadow: inset 0 -1px #6977c4, inset 0 -3px 3px #485295;
	background: linear-gradient(to bottom, transparent 50%, #5965aa), linear-gradient(45deg, #99c1ff 0%, #99c1ff 35%, #6d8abe 3%, transparent 39%, transparent 1000%), var(--baseColor);

}

/*controls module - right geometry*/
app.wmp .shapeshader#ctrlright{
	width: 48px;
	height: 91px;
	bottom: 0;
	left: 327px;
	display: inline-block;
	filter: drop-shadow(1px 1px 0 #6379aa70) drop-shadow(0px 1px 0px #5962a8e6) drop-shadow(0px 1px 0px #667bbd);
	margin-bottom: 6px;
	z-index: 1;
}
app.wmp .shapeshader#ctrlright .wmpshape{
	clip-path: path("M49,0V61C34,61,21,77,21,77,15.79,84.82,5.28,89.62,0,90.75V0Z");
	width: 49px;
	height: 91px;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 50%, #5965aa), var(--baseColor);

	/*bottom: 56px;*/
}
app.wmp .wmpshapeholder#ctrlright .wmpshape{
	/*clip-path: path("M0,0A6.84,6.84,0,0,0,7,7H17c43,0,60,17,86,44,15,15,34.69,41.13,51,41H327c4,0,17-5,23-14,0,0,13-16,28-16V1Z");*/
	clip-path: path("M49,0V61C34,61,21,77,21,77,15.79,84.82,5.28,89.62,0,90.75V0Z");
	width: 49px;
	height: 91px;
	bottom: 1px;
	left: 328px;

	box-shadow: inset 0 -1px 0px #4d578a, inset 0 -4px 3px #485295;
	background: linear-gradient(to bottom, transparent 50%, #5965aa), linear-gradient(50deg, #4b569d 0%, #a9c3f4 100%), var(--baseColor);

}

/*left navigation pane*/
app.wmp wmpmainframe #nav{
	display: flex;
	flex-direction: column;
	position: absolute;
	height: calc(100% - 147px);
	top: 45px;
	width: 73px;
	padding: 13px 9px 0 6px;
	background: linear-gradient(to right, #6770c7 0%, #606bbb 10%, #5c67b1 11%, #6f8cc2 50%);
	box-shadow: inset 2px 0 #818ced, inset 0 2px 2px var(--baseColor), inset -2px 0 #90b5f0, inset -3px 0 #90b5f088;
	z-index: 1;
	overflow: hidden;
}
app.wmp wmpmainframe #nav .navitem{
	padding: 2px 0 6px 2px;
	min-height: 33px;
	height: 33px;
	position: relative;

	font-weight: 600;
	color: #fff;
}
app.wmp wmpmainframe #nav .navitem .expander,
app.wmp wmpmainframe #nav .navitem#premium{
	display: none;
}
app.wmp wmpmainframe #nav .navitem:hover{
	background: linear-gradient(45deg, #7891e3 0%, #7891e3 50%, #8199e800 65%, #8199e800 100%);
}
app.wmp wmpmainframe #nav .navitem:after{
	content: ' ';
	position: absolute;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #dde5f6, #7392c5);
	display: block;
	bottom: 0;
	left: 0;
}
app.wmp wmpmainframe #nav .navitem.selected,
app.wmp wmpmainframe #nav .navitem:active{
	background: linear-gradient(30deg, #052989aa 0%, #05298900 55%, #05298900 100%), linear-gradient(170deg, #052989aa 0%, #05298900 35%, #05298900 100%), linear-gradient(to right, #052989aa 0%, transparent 20%, transparent 100%);	
}
app.wmp wmpmainframe #nav .navitem.selected:after, app.wmp wmpmainframe #nav .navitem:hover:after{
	height: 3px;
	background: linear-gradient(to right, #fba745, #708fc3);
}
app.wmp wmpmainframe #nav #brand{
	display: none;
	width: 80px;
	height: 22px;
	background: linear-gradient(to right, #6770c7 0%, #606bbb 10%, #5c67b1 11%, #6f8cc2 50%);
	bottom: 0;
	left: 2px;
	padding: 8px 0 5px;
}
app.wmp.collapsed appcontentholder:after{
	display: none;
}
app.wmp.framehidden wmpmainframe #nav #brand{
	display: block;
}
app.wmp wmpmainframe #nav #brand img{
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
	position: relative;
	filter: drop-shadow(-1px -1px 1px #485983) drop-shadow(1px 1px 1px #94a5c9);
}
app.wmp wmpmainframe #nav #brand:hover img{
	filter: brightness(1.1) drop-shadow(-1px -1px 1px #485983) drop-shadow(1px 1px 1px #94a5c9) drop-shadow(0 0 3px #5ba1d3);
}

app.wmp wmpmainframe #navcollapsed{
	display: none;
	width: 18px;
	height: calc(100% - 82px);
	/*background-color: var(--baseColor);*/
	background: linear-gradient(to left, #6d74e8 0%, #6d74e8 11%, #7da2f3 22%, #87b0ff 33%, #6381c2 44%, #5f7cbb 55%, #6280c2 66%, #6787cc 77%, #7ea4ec 88%, #5f7cb1 100%);
	box-shadow: inset 0 4px 2px #88b1fe;

	top: 15px;
	left: 79px;
	border-radius: 9px 0 0 9px;
	z-index: 1;
}
app.wmp wmpmainframe #navcollapsed.collapsed{
	display: block;
}

app.wmp wmpmainframe #navtoggle{
	height: 72px;
	width: 7px;
	border-radius: 5px 0 0 5px;
	background: linear-gradient(to right, #6783bd, #6783bd, #7190c4); 
 	box-shadow: inset 0 1px #92b8de, inset 0 -1px #4c6bc4, 0 1px #92b8de, 0 -1px #3152b9, -1px 0 #6f8cc2, inset -2px 0 2px #90b5f0;
 	top: calc(50% - 67px);
 	left: 81px;
 	z-index: 2;
}

app.wmp wmpmainframe #navtoggle:after{
		background: url("../res/ui/wmp/navtoggle_grip.png");
		width: 7px;
		height: 72px;
		position: absolute;
		display: block;
		content: " ";
}
app.wmp wmpmainframe #navtoggle:hover #arrow{
	background: linear-gradient(to bottom, #91663f 0%, #f59331 25%, #fe9833 75%, #f9c89d 100%);

}

app.wmp wmpmainframe #navtoggle #arrow{
	color: #fff;
	font-weight: 600;
	font-size: 8px;
	line-height: 17px;
	text-shadow: 0 0 #fff;

	width: 5px;
	height: 17px;
	top: 26px;
	right: 0;
	border-radius: 3px;
	border: 1px solid;
	border-color: #607097 #8ba3dd #bccaef #8ba3dd;
	background: linear-gradient(to bottom, #536799 0%, #7894de 25%, #7693dc 75%, #aabcec 100%);
}
app.wmp wmpmainframe #navtoggle.collapsed #arrow{
	transform: scaleX(-1);
}

/*top metal control strip*/
app.wmp wmpmainframe #topmetal{
	width:calc(100% - 322px);
	height: 22px;
	display: block;
	background: var(--metallicEffect);
	/*box-shadow: inset 1px 0 1px #494a4e66, inset -1px 0 1px #494a4e66, 1px 0 #494a4e, -1px 0 #494a4e;*/

	/*padding: 0 5px;*/
	top: 15px;
	left: 91px;
	z-index: 2;
}
app.wmp wmpmainframe #topmetal fnbutton{
	width: 17px;
	height: 16px;
	border-radius: 100%;
	background: url("../res/ui/wmp/sprite_topbuttons.png"), linear-gradient(to bottom, #b9babb, #8f93a1);
	/*border:1px solid #6e7588;*/
	box-shadow: 0 1px 1px #d1d2d7, 0 -1px 0px #dedede, inset 0 1px 1px #9fa3af, inset 0 -2px 3px #616982;
	margin: 3px 2px 0 2px;
	display: inline-block;
	position: absolute;
}
app.wmp wmpmainframe #topmetal fnbutton:hover{
	background: url("../res/ui/wmp/sprite_topbuttons.png"), linear-gradient(to bottom, #edc746, #f6c348, #feae40, #f79532, #d7812b);
	box-shadow: 0 1px 1px #d1d2d7, 0 -1px 0px #dedede, inset 0 1px 1px #e2ab38, inset 0 -2px 3px #91581f;
}
app.wmp wmpmainframe #topmetal fnbutton:active,
app.wmp wmpmainframe #topmetal fnbutton.active{
	background: url("../res/ui/wmp/sprite_topbuttons.png"), linear-gradient(to bottom, #000095, #000389, #002c9c, #0042b4, #0050ec);
	background-position-y:  32px;
	box-shadow: 0 1px 1px #d1d2d7, 0 -1px 0px #dedede, inset 0 1px 1px #03082e, inset 0 -1px 3px #002c88;
}
app.wmp wmpmainframe #topmetal fnbutton:active:hover,
app.wmp wmpmainframe #topmetal fnbutton.active:hover{
	background-position-y: 16px;
}
app.wmp wmpmainframe #topmetal fnbutton#toggleUIFrame{
	left: 5px;
	background-position-x: 0;
}
app.wmp wmpmainframe #topmetal fnbutton#shuffle{
	right: 47px;
	background-position-x: 51px;
}
app.wmp wmpmainframe #topmetal fnbutton#equalizer{
	right: 26px;
	background-position-x: 17px;
}
app.wmp wmpmainframe #topmetal fnbutton#playlist{
	right: 5px;
	background-position-x: 34px;
}


/*playlist picker*/
app.wmp wmpmainframe #topright #playlistselector{
	width: 173px;
	right: 34px;
	top: 7px;
	z-index: 1;
}
app.wmp:not(.framehidden) wmpmainframe #topright #playlistselector,
app.wmp.maximized wmpmainframe #topright #playlistselector{
	width: 200px;
	right: 7px;
}
app.wmp wmpmainframe #topright #playlistselector option{
	background-image: url()
}
app.wmp wmpmainframe #topright #windowcontrols{
	color: #4c76c2;
	text-shadow: 0 -1px #b4c5e2, 0 -1px #b4c5e2, 0 1px #364b76, 0 1px 1px #364b76;
	top: 8px;
	right: 6px;
	width:21px;
	font-size: 11px;
	z-index: 1;
}
app.wmp:not(.framehidden) wmpmainframe #topright #windowcontrols,
app.wmp.maximized wmpmainframe #topright #windowcontrols{
	display: none;
}
app.wmp wmpmainframe #topright #windowcontrols div:hover{
	color: #f39332;
	text-shadow: 0 -1px #fecfac, 0 -1px 1px #fecfac, 0 1px #3b383c, 0 1px 2px #3b383c;
}
app.wmp wmpmainframe #topright #windowcontrols div:active{
	color: #7196e0;
	text-shadow: 0 -1px #3c5fb4, 0 -1px #3c5fb4, 0 1px #b8cef3, 0 1px 1px #b8cef3, 0 -2px 1px #2b3c65;
}
app.wmp wmpmainframe #topright #windowcontrols #close{
	right:0;
	top: 0;
}
app.wmp wmpmainframe #topright #windowcontrols #maximize{
	display: none;
}
app.wmp wmpmainframe #topright #windowcontrols #minimize{
	left:0;
	top: -2px;
	transform: scaleX(110%);
}

/*supplementary visual touches*/
app.wmp wmpmainframe #tinyblue{
	width: 9px;
	height: 11px;
	display: block;
	right: 0;
	top: 37px;
	background: #5e7bb8;
	box-shadow: inset -1px 0 var(--baseColor), inset -2px 0 0px #7a9eeb, inset 2px 0 0px #7a9eeb;
}
app.wmp wmpmainframe #sidemetal{
	width: 9px;
	height: calc(100% - 126px);
	display: block;
	right: 0;
	top: 49px;
	background: var(--sideMetal);
	box-shadow: inset -1px 0 0 #7c7c80;
	z-index: 2;
}

/*lower metal strip*/
app.wmp wmpmainframe #lowermetal{
	width: calc(100% - 405px);
	height: 29px;
	right: 27px;
	bottom: 31px;
	background: linear-gradient(to bottom, #cecece 0%, #fff 3%, #fff 14%, #f0f0f9 16%, #cbcbd3 26%, #9b9b9f 75%, #a9a9b2 94%, #9c9da6 96%, #8b8c9c 100%);
	z-index: 3;
}
app.wmp wmpmainframe #lowermetal fnbutton{
	width: 18px;
	height: 18px;
	border: 1px solid #7c838f;
	border-radius: 100%;
	background: linear-gradient(to bottom, #c1c2c2, #b3b4b7);
	box-shadow: 0 1px 1px #c6c6c9, 0 -1px 1px #a7a7ad, inset 0 0 2px #7c838f, inset 0 0 5px #8a8b8f;
	top: 4px;
	left: 5px;
}
app.wmp wmpmainframe #lowermetal fnbutton#colorswitch{
	display: none;
}
app.wmp wmpmainframe #lowermetal fnbutton:hover{
	background: linear-gradient(to bottom, #edc746, #f6c348, #feae40, #f79532, #d7812b);
	box-shadow: 0 1px 1px #c6c6c9, 0 -1px 1px #a7a7ad, inset 0 1px 1px #e2ab38, inset 0 -2px 3px #91581f;
	border-color: #b06f28;
}
app.wmp wmpmainframe #lowermetal fnbutton:active{
	background: linear-gradient(to bottom, #000095, #000389, #002c9c, #0042b4, #0050ec);
	box-shadow: 0 1px 1px #c6c6c9, 0 -1px 1px #a7a7ad, inset 0 1px 1px #03082e, inset 0 -1px 3px #002c88;
	border-color: #060b24;
}
app.wmp wmpmainframe #lowermetal fnbutton:before{
	background: url("../res/ui/wmp/sprite_skinmode.png");
	background-position-x: 0;
	filter: drop-shadow(1px 1px #838b9477);
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 0;
	left: 0; 
	content: " ";
}

app.wmp wmpmainframe #cornermetal{
	width: 27px;
	height: 47px;
	/*old height 29, can prolly be used to interpolate % * 1.62 */
	right: 0;
	bottom: 31px;
	background: #f00;
	/*background: linear-gradient(to bottom, #cbcbd3 0%, #cbcbd3 28%, #9b9b9f 75%, #a9a9b2 94%, #9c9da6 96%, #8b8c9c 100%);*/
	background: linear-gradient(to bottom, #cbcbd3 0%, #cbcbd3 55%, #9b9b9f 85%, #a9a9b2 94%, #9c9da6 98.5%, #8b8c9c 100%);
	z-index: 2;
	border-radius: 0 0 6px 0;
	box-shadow: inset 0 -1px #8f8f9e, inset 0 -2px #9fa0a9, inset -1px 0 #7c7c80, inset -2px 0 #c0c0c8, inset -3px 0 #f5f5f8, inset -4px 0 #ebebef;
}
app.wmp wmpmainframe #cornermetal #wmpresizer{
	right: 0;
	bottom: 0;
	width: 15px;
	height: 15px;
	background: url("../res/ui/luna/grabber.png");
	background-repeat: no-repeat;
	filter: invert(56%) drop-shadow(1px 1px 0 #e0e0e2);
	cursor: url('../res/ui/cursors/resize_nwse.cur'), nwse-resize;
}

app.wmp wmpmainframe .metaledge{
	display: block;
	width: 5px;
	height: inherit;
	border-radius: 100%;
	position: relative;
}
app.wmp wmpmainframe .metaledge.left{
	border-left: 1px solid #494a4e;
	float: left;
	margin-left: -1px;
	box-shadow: -1px 0 var(--baseColor), -2px 0 #b1ddffaa;
}
app.wmp wmpmainframe .metaledge.right{
	border-right: 1px solid #494a4e;
	float: right;
	margin-right: -1px;
	box-shadow: 1px 0 var(--baseColor), 2px 0 #b1ddffaa;
}
app.wmp wmpmainframe .metaledge.top{
	width:9px;
	height: 5px;
	border-top: 1px solid #494a4e;
	margin-top: -1px;
	box-shadow: 0 -1px #b1ddff;
}

/*content frame*/
app.wmp wmpmainframe wmpcontent{
	display: block;
	position: absolute;

	top: 37px;
	left: 88px;
	width:calc(100% - 97px);
	height: calc(100% - 97px);

	background-color: #000;
	color: #fff;
	border-radius: 3px 3px 13px 13px;
	z-index: 1;
	box-shadow: 0 5px 5px #99c0fd, -2px 0 2px #90b5f0, 0 -2px 3px #353b6f
}

/*this holds the visualizer and artist info*/
app.wmp wmpmainframe wmpcontent #playbackcontainer{
	width: calc(100% - 197px);
	height: calc(100% - 21px);
}
app.wmp wmpmainframe wmpcontent #playbackcontainer span{
	width: calc(100% - 20px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

app.wmp wmpmainframe wmpcontent #playbackcontainer #artistname{
	font-size: 14px;
	font-weight: 400;
	margin: 6px 0 0 8px;
	font-family: "Tahoma", sans-serif;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #songname{
	font-size: 16px;
	font-weight: 600;
	margin: 22px 0 0 8px;
	font-family: "Tahoma", sans-serif;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #visualizer,
app.wmp wmpmainframe wmpcontent #playbackcontainer #videoiframe{
	/*background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);*/
	width:calc(100% - 6px);
	height: calc(100% - 70px);
	left:3px;
	top:46px;
	pointer-events: none;
	image-rendering: pixelated;
}
app.wmp appcontentholder #videoiframe{
  position: absolute;
  top: 107px;
  left: 91px;
  width: calc(100% - 300px);
  height: calc(100% - 211px);
  visibility: visible;
  z-index: 3;
  pointer-events: none;
}
app.wmp.playlisthidden appcontentholder #videoiframe{
	width: calc(100% - 103px);
}
app.wmp.collapsed appcontentholder #videoiframe{
	left:11px;
	width: calc(100% - 220px);
}
app.wmp.collapsed.playlisthidden appcontentholder #videoiframe{
	left:11px;
	width: calc(100% - 23px);
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #videoiframe{
	border: none;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #videoiframe{
	display: none;
}
app.wmp wmpmainframe wmpcontent.videomode #playbackcontainer #videoiframe{
	display: block;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols{
	width: calc(100% - 8px);
	height: 17px;
	bottom: -1px;
	padding: 4px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton{
/*	width: 17px;
	height: 17px;
	border-radius: 100%;
	background-color: #848485;
	box-shadow: inset 2px 2px 5px #e5e5e5, inset -2px -2px 5px #383939;*/

	width: 18px;
	height: 18px;
	background-image:url("../res/ui/wmp/wmp8_sprites.png");

	display: inline-block;
	position: relative;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton:hover{
/*	background-color: #00f;*/
	background-position-x: -18px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton:active{
	background-position-x: -36px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton#visgroups{
	background-position-y: 	-36px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton#prevvis{
	background-position-y: 	0px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton#nextvis{
	background-position-y: 	-18px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton#fullscreen{
	background-position-y: 	-54px;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols span{
	padding: 0 8px;
	line-height: 16px;
	width: calc(100% - 100px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
app.wmp wmpmainframe wmpcontent #playbackcontainer #viscontrols fnbutton#fullscreen{
	float: right;
}

/*playlist stuff goes here*/
app.wmp wmpmainframe wmpcontent #playlistcontainer{
	width:197px;
	right:0;
	height: calc(100% - 21px);
	box-shadow: inset 1px 0 #4c4c51, inset 2px 0 #73737d, inset 3px 0 #4c4c51;
	overflow: hidden;
}
app.wmp wmpmainframe wmpcontent #playlistcontainer ul{
	width: calc(100% - 28px);
	height: calc(100% - 4px);
	overflow-y: auto;
	margin: 0;
	padding: 2px 14px;
	overflow-x: hidden;
	overflow-y: auto;
}
app.wmp wmpmainframe wmpcontent #playlistcontainer ul li{
	position: relative;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
app.wmp wmpmainframe wmpcontent #playlistcontainer ul li.selected{
	color: #00f900;
}
app.wmp wmpmainframe wmpcontent.playlisthidden #playbackcontainer{
	width: 100%;
}
app.wmp wmpmainframe wmpcontent.playlisthidden #playlistcontainer{
	display: none;
}

/*status bar ofc*/
app.wmp wmpmainframe wmpcontent #statusbar{
	width: 100%;
	height: 16px;
	bottom: 0;
	padding: 2px 0;

	box-shadow: inset 0 1px #cdcdd3, inset 0 2px #aeaeb6;
	color: #00f900;
	font-weight: 600; 
}
app.wmp wmpmainframe wmpcontent #statusbar #info{
	left:56px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 110px);
	line-height: 18px;
}
app.wmp wmpmainframe #progress{
	right: 9px;
	bottom: 60px;
	height: 18px;
	width: auto;
	display: block;
	padding: 0 9px;

	font-weight: 600;
	background: #000;
	color: #00f900;
	box-shadow: 1px 5px 1px #fff, 2px 0 #fff;

	border-radius: 0 0 13px 0;
	z-index: 2;
	line-height: 18px;
}

/*playback controls*/
app.wmp wmpmainframe playbackcontrols{
	bottom: 9px;
	left: 130px;
	z-index: 1;
}
app.wmp wmpmainframe playbackcontrols fnbutton {
	position: absolute;
	background: linear-gradient(to bottom, #5066ae, #8a9ddf);
	transition: box-shadow 0.3s ease;
	/*padding: 3px;*/
}
app.wmp wmpmainframe playbackcontrols fnbutton buttonbody{
	width:calc(100% - 6px);
	height: calc(100% - 6px);
	margin: 3px;
	border-radius: 100%;

	background: radial-gradient(circle at 50% 15%, #fff 0%, #9dacc7 100%);
	box-shadow: inset 0px -1px 2px 1px #030a46, inset 0 -2px 1px #235aff, inset 3px -3px 2px #dfe3ec, inset 0 -1px 1px #081e81, inset 0 -5px 3px #7083ad, 0 0 1px 0px #222a7a;
	/*transition: box-shadow 0.3s ease;*/
}
app.wmp wmpmainframe playbackcontrols fnbutton:hover buttonbody{
	box-shadow: inset 1px -1px 1px #091f9b, inset 1px -1px 2px #89c6ef, inset 2px -2px 2px #d9e0f0, inset 0 -1px 1px #081e81, inset 0 -1px 4px #152574, 0px 2px 1px #030969, 0 -1px 2px #4f92d5;
}

/*seek bar*/
app.wmp wmpmainframe playbackcontrols #seekbar{
	background: linear-gradient(to bottom, #5066ae, #8a9ddf);
	border-radius: 3px;
	/*width: 135px; - changed for seek slider alignment*/
	width: 127px;
	padding-right: 8px;

	height: 7px;

	bottom:31px;
	left: 87px;
}
app.wmp wmpmainframe playbackcontrols #seekbar #seekbg{
	margin: 1px 2px;
	background: linear-gradient(to bottom, #aae7b2, #30d741, #aae7b2);
	border-radius: 2px;
	width: calc(100% - 4px);
	height: 5px;
}
app.wmp wmpmainframe playbackcontrols #seekbar #seekfill{
	display: none;
}
app.wmp wmpmainframe playbackcontrols #seekbar #seekpointer,
app.wmp wmpmainframe playbackcontrols #volbar #volpointer
{
	width: 8px;
	height: 10px;
	background: radial-gradient(circle at 33% 25%, #fff 0%, #fff 20%, #b4bccf);
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 1px 1px #a5b4d1, inset -1px 0 #8c98b4aa, inset 1px 0 #b0bbd0;
	margin-top: -3px;
	filter: drop-shadow(0 1px 1px #2b3648);
	left:0%;
	position: relative;
	margin-right: 8px;
}
app.wmp wmpmainframe playbackcontrols #seekbar #seekpointer:after,
app.wmp wmpmainframe playbackcontrols #volbar #volpointer:after{
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #b2bace transparent transparent transparent;
	position: absolute;
	top: 10px;
}
app.wmp wmpmainframe playbackcontrols #rewind,
app.wmp wmpmainframe playbackcontrols #ffwd {
	 width: 19px;
	 height: 12px;
	 display: block;
	 background: url("../res/ui/wmp/sprite_rewind.png");
	 bottom: 28px;
	 opacity: 0.5;
}
/*app.wmp wmpmainframe playbackcontrols #rewind:hover,
app.wmp wmpmainframe playbackcontrols #ffwd:hover{
	background-position-x: -19px;
}
app.wmp wmpmainframe playbackcontrols #rewind:active,
app.wmp wmpmainframe playbackcontrols #ffwd:active{
	background-position-x: -38px;
}*/
app.wmp wmpmainframe playbackcontrols #rewind{
	left: 67px;
}
app.wmp wmpmainframe playbackcontrols #ffwd{
	transform: scaleX(-1);
	left: 223px;
}


/*playback buttons*/
app.wmp wmpmainframe playbackcontrols fnbutton#playpause{
	width: 43px;
	height: 43px;
	border-radius: 100%;
	bottom: 0;
	left: 0;
}

app.wmp wmpmainframe playbackcontrols fnbutton#playpause buttonbody{
	background: url("../res/ui/wmp/sprite_play.png"), radial-gradient(circle at 50% 15%, #fff 0%, #fff 7%, #7789a8 100%);
}
app.wmp wmpmainframe playbackcontrols fnbutton#playpause:hover buttonbody{
	background: url("../res/ui/wmp/sprite_play.png"), radial-gradient(circle at 50% 15%, #fff 0%, #fff 30%, #658ad5 100%);
	box-shadow: inset 0 -1px 2px 1px #000795, inset 3px -4px 1px #90e5ff, inset 0 -4px 2px #4a72bb,0 -1px 1px #27647999, inset 0 2px 2px #feffff, 0 -1px 1px 1px #1ebfffa8;
	background-position: -36px 0;
}
app.wmp wmpmainframe playbackcontrols fnbutton#playpause:active buttonbody{

	background: url("../res/ui/wmp/sprite_play.png"), radial-gradient(circle at 50% 20%, #f6fdfd 0%, #f6fdfd 13%, #495b92 100%);
	box-shadow: inset 0 -0px 1px 1px #000f42d6, inset 0 -2px 2px #002877, inset 4px -3px 1px #94b4d7, inset 0 -5px 1px #4e659f, inset 0 0 2px 2px #9da9bf;
	background-position: -72px 0;
}

app.wmp wmpmainframe playbackcontrols fnbutton#playpause.playing buttonbody{
	background: url("../res/ui/wmp/sprite_pause.png"), radial-gradient(circle at 50% 15%, #fff 0%, #fff 7%, #7789a8 100%);
}
app.wmp wmpmainframe playbackcontrols fnbutton#playpause.playing:hover buttonbody{
	background: url("../res/ui/wmp/sprite_pause.png"), radial-gradient(circle at 50% 15%, #fff 0%, #fff 30%, #658ad5 100%);
	background-position: -37px 0;
}
app.wmp wmpmainframe playbackcontrols fnbutton#playpause.playing:active buttonbody{
	background: url("../res/ui/wmp/sprite_pause.png"), radial-gradient(circle at 50% 20%, #f6fdfd 0%, #f6fdfd 13%, #495b92 100%);
	background-position: -73px 0;
}

app.wmp wmpmainframe playbackcontrols fnbutton#stop{
	bottom: 0px;
	left: 41px;
	width: 24px;
	height: 33px;
	transform: rotate(-26deg);
	border-radius: 100%;
}
app.wmp wmpmainframe playbackcontrols fnbutton#stop buttonbody{
	width: calc(100% - 5px);
	height: calc(100% - 5px);
	margin: 3px;
	background: radial-gradient(circle at 75% 15%, #fff 0%, #fff 20%, #9dacc7 100%);
	box-shadow: inset 0px -1px 2px 1px #030a46, inset 0 -2px 1px #235aff, inset 3px -3px 2px #dfe3ec, inset 0 -1px 1px #081e81, inset 0 -5px 3px #7083ad, 0 0 1px 0px #222a7a;
}
app.wmp wmpmainframe playbackcontrols fnbutton#stop buttonbody:hover{
	background: radial-gradient(circle at 50% 15%, #fff 0%, #fff 30%, #658ad5 100%);
	box-shadow: inset 0 -1px 2px 1px #000795, inset 3px -4px 1px #90e5ff, inset 0 -4px 2px #4a72bb,0 -1px 1px #27647999, inset 0 2px 2px #feffff, 0 -1px 1px 1px #1ebfffa8;
}
app.wmp wmpmainframe playbackcontrols fnbutton#stop buttonbody:hover:before{
	background-position-x: -16px;
}
app.wmp wmpmainframe playbackcontrols fnbutton#stop buttonbody:active{
	background: radial-gradient(circle at 50% 20%, #f6fdfd 0%, #f6fdfd 13%, #495b92 100%);
	box-shadow: inset 0 -0px 1px 1px #000f42d6, inset 0 -2px 2px #002877, inset 4px -3px 1px #94b4d7, inset 0 -5px 1px #4e659f, inset 0 0 2px 2px #9da9bf;
}
app.wmp wmpmainframe playbackcontrols fnbutton#stop buttonbody:active:before{
	background-position-x: -32px;
}

app.wmp wmpmainframe playbackcontrols fnbutton#stop buttonbody:before{
	transform: rotate(26deg) translateX(1px);
	background: url("../res/ui/wmp/sprite_stop.png");
	content: " ";
	width: 16px;
	height: 25px;
	display: block;
}

/*playback buttons - the small ones*/
app.wmp wmpmainframe playbackcontrols fnbutton#prev,
app.wmp wmpmainframe playbackcontrols fnbutton#next,
app.wmp wmpmainframe playbackcontrols fnbutton#mute{
	width: 26px;
	height: 19px;
	border-radius: 7px;
	bottom: 1px;
}
app.wmp wmpmainframe playbackcontrols fnbutton#prev buttonbody,
app.wmp wmpmainframe playbackcontrols fnbutton#next buttonbody,
app.wmp wmpmainframe playbackcontrols fnbutton#mute buttonbody{
	border-radius: 7px;
	margin: 3px 1px 2px;
	width: 24px;
	height: 14px;
	background: linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
	box-shadow: inset 0 -1px 1px #000839, inset 0 -2px 1px #003077, 0 -1px 3px #4763a0;
}

app.wmp wmpmainframe playbackcontrols fnbutton#prev{
	left: 66px;
}
app.wmp wmpmainframe playbackcontrols fnbutton#prev buttonbody{
	background: url("../res/ui/wmp/sprite_changetrack.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);	
}
app.wmp wmpmainframe playbackcontrols fnbutton#prev:hover buttonbody,
app.wmp wmpmainframe playbackcontrols fnbutton#next:hover buttonbody
{
	background: url("../res/ui/wmp/sprite_changetrack.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
	background-position-x: -24px;
}
app.wmp wmpmainframe playbackcontrols fnbutton#prev:active buttonbody,
app.wmp wmpmainframe playbackcontrols fnbutton#next:active buttonbody{
	background: url("../res/ui/wmp/sprite_changetrack.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
	background-position-x: -48px;
}

app.wmp wmpmainframe playbackcontrols fnbutton#next{
	left: 95px;
}
app.wmp wmpmainframe playbackcontrols fnbutton#next buttonbody{
	background: url("../res/ui/wmp/sprite_changetrack.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
	transform: scaleX(-1);
}

app.wmp wmpmainframe playbackcontrols fnbutton#mute{
	left: 129px;
}
app.wmp wmpmainframe playbackcontrols fnbutton#mute buttonbody{
	background: url("../res/ui/wmp/sprite_mute.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
}
app.wmp wmpmainframe playbackcontrols fnbutton#mute:hover buttonbody{
	background: url("../res/ui/wmp/sprite_mute.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
	background-position-x: -24px;
}

app.wmp wmpmainframe playbackcontrols fnbutton#mute.active buttonbody{
	background: url("../res/ui/wmp/sprite_mute.png"), linear-gradient(to bottom, #f3f9ff 0%, #f9fdff 30%, #7a8fb5 100%);
	background-position-x: -48px;
}
app.wmp wmpmainframe playbackcontrols #volbar{
	left: 157px;
	bottom: 4px;
	width: 42px;
	height: 10px;
	padding-right: 12px;
}
app.wmp wmpmainframe playbackcontrols #volbg{
	width: 54px;
	height: 10px;
	clip-path: path("M54,0,3.4,2.81A3.6,3.6,0,0,0,0,6.4H0A3.6,3.6,0,0,0,3.6,10H43Z");
	background: linear-gradient(179deg, #202c7b, #364690, #4a5c9e, #566aaa, #6377b5, #6b81be, #768bc8, #7f95d4, #8aa0e2);
}
app.wmp wmpmainframe playbackcontrols #volfill{
	width: 45px;
	height: 7px;
	margin: 2px 0 1px 4px;
	clip-path: path("M45,0,2.44,1.89A2.56,2.56,0,0,0,0,4.44H0A2.55,2.55,0,0,0,2.56,7H37Z");
	background: linear-gradient(to bottom, #a0eaa1, #84e586, #67df69, #4ad94c, #31d334, #3cd63f, #5eae8e);
}
app.wmp wmpmainframe playbackcontrols #volbar #volpointer{
	margin-top: -1px;
	left: 100%;
}

app.wmp.miniplayer appcontents{
	min-width: 360px;
	min-height: 140px;
	width: 360px !important;
	height: 140px !important;
}
app.wmp.miniplayer #videoiframe{
	display: none;
}
app.wmp.miniplayer wmpmainframe {
	left:-80px;
	width: calc(100% + 80px);
	filter: none;
}
app.wmp.miniplayer:not(wmpmainframe):hover{
	/*visibility: hidden;*/
}


app.wmp.miniplayer wmpmainframe #navtoggle, 
app.wmp.miniplayer .shapeshader#topright,
app.wmp.miniplayer .wmpshapeholder#topright,
app.wmp.miniplayer #tinyblue,
app.wmp.miniplayer #topmetal fnbutton,
app.wmp.miniplayer #topmetal .metaledge.right,
app.wmp.miniplayer #sidemetal .metaledge.top,
app.wmp.miniplayer wmpmainframe wmpcontent #playbackcontainer,
app.wmp.miniplayer wmpmainframe wmpcontent #playlistcontainer
{
	display: none;
}
app.wmp.miniplayer wmpmainframe #nav,
app.wmp.miniplayer .shapeshader#topleft,
app.wmp.miniplayer .shapeshader#bottomleft,
app.wmp.miniplayer .wmpshapeholder#topleft, 
app.wmp.miniplayer .wmpshapeholder#bottomleft{
	display: none !important;
}
app.wmp.miniplayer #navcollapsed{
	display: block;
}
app.wmp.miniplayer wmpmainframe wmpcontent #statusbar{
	box-shadow: none;
}
app.wmp.miniplayer wmpmainframe wmpcontent #statusbar #info{
	left: 9px;
}
app.wmp.miniplayer #topmetal{
	width: calc(100% - 95px);
	z-index: 3;
	box-shadow: inset -4px 0 4px #d8d9e1;
}
app.wmp.miniplayer #sidemetal{
	height: calc(100% - 92px);
	top: 15px;
	border-radius: 0 6px 0 0;
}
app.wmp.miniplayer #lowermetal{
	z-index: 3;
}
app.wmp.miniplayer wmpmainframe #lowermetal fnbutton:before{
	background-position-x: 18px;
	content: " ";
}
app.wmp.miniplayer appresizers,
app.wmp.framehidden appresizers{
	display: none;
}
app.wmp.miniplayer #wmpresizer{
	display: none;
}

app.wmp audio{
	display: none;
}

app.wmp input#filepicker{
	display: none;
}